// Place all the styles related to the appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.head{
    text-align: center;
    color:aquamarine;
}
.color-green{
    color:green;
}
.color-yellow{
    color:yellow;
}
.color-red{
    color:red;
}