// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
nav{
    margin-bottom: 3rem;
}
.background{
    background: url('pg.jpg') no-repeat center center;
   height:25rem;
   width:100%;
   background-size:contain;

}
.head{
    color:aquamarine;
    font-size: 2rem;
}
.text{
    text-align: center;
}
.link{
  
    text-align: center;
    
}


.link .btn-primary{
background-color: aquamarine!important;
color: black;
}
.navbar-brand{
    color:green!important;
    font-size: 1.6rem!important;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-item{
    font-size: 1.3rem;
    padding:1rem;
    
}
.nav-link{
    color:  cadetblue!important;
    
}
.nav-link:hover{
    color: black!important;
    background-color: cadetblue;
    border-radius: 1rem;
    padding:0.5rem;
}
.navbar-nav {
    margin-left: 2rem;
    
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:cadetblue;
    color: black;
    text-align: center;
 }
 footer p{
     margin-top: 1rem;
 }
    /* For a full size background image */