<h1 class="head">~Update Appointment~</h1>

<%= render 'form', appointment: @appointment %>

<br><br>
<div class="btn-group" role="group" aria-label="Basic example">
<%= link_to 'Show', @appointment, class:"btn btn-secondary" %>
<%= link_to 'Back', appointments_path, class:"btn btn-secondary" %>

  
</div>
